[submodule "apps/contracts/lib/gsn"]
	path = apps/contracts/lib/gsn
	url = https://github.com/opengsn/gsn
[submodule "apps/contracts/lib/gsn.git"]
	path = apps/contracts/lib/gsn.git
	url = https://github.com/opengsn/gsn.git
