.badge-details-container {
  position: relative;
  min-width: 600px;
  overflow: hidden;
}

.badge-details-container .header {
  border-bottom: 1px solid #f8f8f8;
}
.badge-details-container .links {
  margin: 1.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.badge-details-container .links a.link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  background-color: #E9E9E9;
  color: #434343;
  font-size: 14px;
}

.badge-details-container .badge-details-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: max-content;
  gap: 1rem;
  margin-bottom: 1rem;
}

.badge-details-container .badge-details-content .desc {
  display: block;
  word-wrap: break-word;
  color: #000000;
  font-size: 15px;
  font-style: italic;
}

.badge-details-container .badge-details-content .badge-type {
  margin-bottom: 2px;
  text-decoration: underline;
  color: #000000;
}

.badge-details-container .badge-details-content .badge-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  height: 100%;
}

.badge-details-container .badge-details-content .badge-image > img {
  min-width: 90px;
  max-width: 90px;
  min-height: 90px;
  border-radius: 50%;
}

.badge-image img {
  border-radius: 50%;
  border: none;
}
